<header>
  <div class="content">
    <a href="/" class="headline u-url" rel="author"> Keith Richards </a>
    <nav class="header-nav">
      <div class="dropdown">
        <span class="dropdown-toggle">☰</span>
        <div class="dropdown-menu">
          <a href="/about.html">About Me</a>
          <a href="/operating-manual.html">My Operating Manual</a>
          <a href="/years.html">Posts by Year</a>
          <a href="/tags.html">Posts by Tag</a>
          <a href="{{ "/feed.xml" | relative_url }}" title="Subscribe via RSS">
            <span>Subscribe via RSS</span>
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>
