.box {
    width: 100%;
    padding: 1rem 2rem;
    background: $content-color;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
    @include media-query($on-mobile) {
        padding: 1rem 1.5rem;
    }
}

.article {
    h1 {
        font-size: 1.75rem;
        line-height: 1.2;
    }
    h2 {
        font-size: 1.5rem;
        line-height: 1.2;
        font-weight: 400;
    }
    a {
        color: $font-color;
    }
    .content-core {
        margin: 12px;
        flex-grow: 1;
    }
}

.card {
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include media-query($on-mobile) {
        display: block;
        text-align: center;
        margin-top: 1rem;
    }

    h2 {
        font-size: 1.6rem;
        font-weight: 400;
        margin:0;
    }

    p {
        line-height: 1.4;
        margin: 0;
    }

    .card-content {
        margin: 12px;
        flex-grow: 1;
    }

    .card-image {
        width: 120px;
        height: 120px;
        flex-shrink: 0;
        margin: 12px;

        img {
            border-radius: 50%;
        }

        @include media-query($on-mobile) {
            margin: 0 auto;
            width: 90px;
            height: 90px;
        }
    }

}

.post-list {
    h3 {
        font-size: 1.125rem;
        margin: 0;
    }
}

.postlist-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a.with-icon {
        display: flex;
        text-decoration: none;
        align-items: center;
    }
}

.post-link {
    margin-bottom: 12px;
}

.social-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 8px;
    
    @include media-query($on-mobile) {
        display: block;
        text-align: center;
    }
    
    a {
        cursor: pointer;
        text-decoration: none;
    }
    
    img {
      height: 32px;
      width: auto;
      margin: 4px 8px;
    }
}

.img-embedded {
    width: 100%;
    max-width: 320px;
    box-shadow: $box-shadow;
    border-radius: 2px;
      
    @include media-query($on-tablet) {
        max-width: 240px;
    }

    @include media-query($on-mobile) {
        max-width: 180px;
    }
    
    &.float-left {
        float: left;
        margin: 0 1rem 0 0;
    }
    
    &.float-right {
        float: right;
        margin: 0 0 0 1rem;
    }
}
