header {
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    background-color: $primary-color;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    
    .content {
        padding: .25rem 2rem;
    }

    @include media-query($on-tablet) {
        text-align: center;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: $content-color;
    }
    
    .headline {
        display: block;
        font-size: 1.8rem;
        font-weight: 400;
    }
}
