html {
    font-size: 16px;
}

body {
    background: $background-color;
    color: $font-color;
    line-height: 1.6;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 2rem;
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
  
    @include media-query($on-tablet) {
        padding: 1.5rem;
    }
    
     @include media-query($on-mobile) {
        padding: 1rem;
    }  
}

blockquote {
  color: #898989;
  border-left: 4px solid $grey-color-light;
  padding-left: 1rem;
  font-size: 0.95rem;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

pre, code {
    font-size: 0.9375rem;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
    
    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

table {
    margin-bottom: 2rem;
    width: 100%;
    text-align: left;
    color: lighten($font-color, 18%);
    border-collapse: collapse;
    border: 1px solid $grey-color-light;
    
    tr {
        &:nth-child(even) {
            background-color: lighten($grey-color-light, 6%);
        }
    }
    
    th, td {
        padding: 0.5rem 1rem;
    }
    
    th {
        background-color: lighten($grey-color-light, 3%);
        border: 1px solid darken($grey-color-light, 4%);
        border-bottom-color: darken($grey-color-light, 12%);
    }
    
    td {
        border: 1px solid $grey-color-light;
    }
}

time {
    font-size: .75rem;
}

ul, ol {
    margin-left: 0.5rem;
}

li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.pagination {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.pagination-previous,
.pagination-next {
    // padding-left: 0.75em;
    // padding-right: 0.75em;
    white-space: nowrap;
}

.subscription {
    display: flex;
    text-decoration: none;
    align-items: center;
}
