@use "sass:color";

$primary-color: #34495E;
$content-color: #FFFFFF;
$background-color: #F0F0F0;
$font-color: #454545;

$grey-color: #828282;
$grey-color-light: color.scale($grey-color, $lightness: 40%);

$box-shadow: 0 2px 8px rgba(0,0,0,.25);

$on-mobile: 600px;
$on-tablet: 800px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
