---
layout: default
---
<article>
    <div class="homepage">
        <div class="content-image"></div>
        <div class="content-core">
            <h1>Keith Richards</h1>
            <p>
                I am a Durham, NC based software developer, v0 climber, former Marine, and consummate bro.
            </p>
        </div>
    </div>
    <div class="social-links">
        <a href="https://github.com/dkrichards86" target="_blank" title="Follow me out on GitHub" rel="noopener noreferrer">
            <img src='/assets/images/github_min.png' alt="dkrichards86 on GitHub" />
        </a>
        <a href="https://twitter.com/dkrichards86" target="_blank" title="Follow me out on Twitter" rel="noopener noreferrer">
            <img src='/assets/images/twitter_min.png' alt="@dkrichards86 on Twitter" />
        </a>
        <a href="https://www.linkedin.com/in/dkrichards/" target="_blank", title="Connect with me on LinkedIn" rel="noopener noreferrer">
            <img src='/assets/images/linkedin_min.png' alt="Connect with me on LinkedIn" />
        </a>
    </div>
</article>
