---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
    <div class="content-core">
        <h1 itemprop="name headline">{{ page.title | escape }}</h1>
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = "%b %-d, %Y" -%}
            {{ page.date | date: date_format }}
        </time>
        <hr />
        <div itemprop="articleBody" class="article-body">
            {{ content }}
        </div>
        <ahref="{{ page.url | relative_url }}" hidden></a>
    </div>
</article>